# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
static/admin/*.bundle.*
.DS_Store
yarn-error.log
avm-site-21.code-workspace
.linaria-cache
.env*
studio/dist*

studio/dist/index.html
studio/dist/static/css/main.css
studio/dist/static/js/app.bundle.js
studio/dist/static/js/vendor.bundle.js
