.navbarTop {
  background: #c17d3d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1180px;
  padding-left: 108px;
  position: sticky;
  top: 0;
}

/* .navContainer {
  display: flex;
} */

.navbarArrow::after {
  border-color: #fff !important;
}
/* .navbarLogo {
  left: 5px;
  position: absolute;
  top: 0;
  width: 70px;
} */

.navbarBtns {
  /* display: grid;
  
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)); */

  /* align-items: center; */
  /* background: rgba(255, 255, 255, 0.7); */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 0.8rem;
  justify-content: space-around;
  /* min-width: 270px;
  max-width: 350px; */
  margin: 0 2px;
  /* max-width: 180px; */
  padding: 4px;
  /* position: absolute;
  right: 15px;
  top: 2.7rem; */
  z-index: 1000;

  /* justify-content: space-between; */
  /* left: 82px; */
  /* max-width: 240px; */
  /* padding-top: 48px; */
  /* position: absolute; */
  /* top: 10px; */
  /* width: 72%; */
}
.navbarBtns span {
  margin: 0 5px 4px 15px;
}
@media (min-width: 1024px) {
  .navbarBtns {
    background-color: transparent;
    padding: 0;
    right: 2rem;
    top: 2px;
  }
}

.navBarBtn {
  margin: 0 15px;
}

.iconCont {
  align-items: center;
  display: flex;
  justify-content: center;
  /* position: absolute;
  right: 40px;
  top: 0; */
  width: 35px;
}

@media only screen and (min-width: 375px) {
  .cartLinkCont {
    right: 0;
  }
}

@media only screen and (min-width: 480px) {
  .navbarTop {
    align-items: center;
  }
  .navbarBtns {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

/* @media only screen and (min-width: 1024px) {
  .navbarLogo {
    left: -16px;
  }
}

@media only screen and (min-width: 1083px) {
  .navbarlogo {
    left: -60px;
  }
} */

/* @media only screen and (min-width: 1140px) {
  .navbarLogo {
    left: -75px;
  }
}

@media only screen and (min-width: 1216px) {
  .navbarLogo {
    left: -45px;
  }
}

@media only screen and (min-width: 1280px) {
  .navbarLogo {
    left: -60px;
  }
} */

.navbarBurger {
  color: #fff !important;
}

/* @media only screen and (min-width: 1401px) {
  .navbarLogo {
    left: -45px;
  }
}

@media only screen and (min-width: 1500px) {
  .navbarLogo {
    left: -60px;
  }
} */
.mobileMenu {
  font-size: 1.2em;
  padding: 2em;
}
.mobileMenu,
.mobileMenu ul {
  list-style-type: none;
}
.mobileMenu ul {
  max-height: 0;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}
.mobileMenu li {
  margin-bottom: 1.2em;
}
.mobileMenu label {
  color: #b75906;
  cursor: pointer;
}
.mobileMenu input[type="checkbox"] {
  display: none;
}
.mobileMenu input:checked + ul {
  max-height: 999px;
  opacity: 1;
  visibility: visible;
}
