.shopIndexList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 40px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.shopIndexList li {
  list-style-type: none;
  margin: 8px 0;
  opacity: 0.9;
  padding: 0;
  position: relative;
}
.shopIndexList li:hover {
  opacity: 1;
}
.listItemPrice {
  background: #58b5d7;
  color: #fff;
  padding: 6px 8px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
}
.tag {
  color: #4a4a4a;
  font-style: italic;
}
.itemTitle {
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipse;
}
.price {
  display: block;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
@media (min-width: 576px) {
  .productMain {
    padding-right: 30px;
  }
}
.productDetails {
  padding-top: 30px;
}
